body {
    margin: 0;
}


.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0px 75px 75px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.logo {
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    padding-left: 12px;
}

a {
    text-decoration: none;
    color:#e5e7eb;
}

.header-bottom {
    display: flex;
    margin: 0;
    padding-top: 75px;
    justify-content: space-evenly;
    gap: 50px;
}

.header-b-left, .header-bottom img {
    width: 380px;
    height: 200px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
}

.button-first button{
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 600;
    padding: 7px 24px;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
}

p {
    font-size: 36px;
    font-weight: 900px;
    color: #1f2937;
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
}

.info {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 120px;
}

.info img {
    height: 100px;
    width: 100px;
}

.caption {
    display: block;
}

.quote-container {
    background-color: #e5e7eb;
    padding: 100px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.credit {
    text-align: end;
    font-weight: bold;
}

